* {
  box-sizing: border-box;
}

.App {
  width: 800px;
  margin: auto;
}

.debug {
  /* background-color: red; */
  border: 1px solid blueviolet;
}

.row {
  display: flex;
}

.cell {
  height: 4rem;
  width: 4rem;
}
